[submodule "cpp/consolex"]
	path = cpp/consolex
	url = https://github.com/wniemiec-io-cpp/consolex
[submodule "java/consolex"]
	path = java/consolex
	url = https://github.com/wniemiec-io-java/consolex
[submodule "java/file-searcher"]
	path = java/file-searcher
	url = https://github.com/wniemiec-io-java/file-searcher
[submodule "java/argument-file"]
	path = java/argument-file
	url = https://github.com/wniemiec-io-java/argument-file
[submodule "java/text-file-manager"]
	path = java/text-file-manager
	url = https://github.com/wniemiec-io-java/text-file-manager
[submodule "java/csv-file-manager"]
	path = java/csv-file-manager
	url = https://github.com/wniemiec-io-java/csv-file-manager
[submodule "java/terminal"]
	path = java/terminal
	url = https://github.com/wniemiec-io-java/terminal
[submodule "java/jar-file-manager"]
	path = java/jar-file-manager
	url = https://github.com/wniemiec-io-java/jar-file-manager
